@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.main_box {
  background-image: url("photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.btn_one i {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  left: 16px;
  position: absolute;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.sidebar_menu {
  position: fixed;
  left: -300px;
  height: 100vh;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  transition: all 0.2s linear;
}

.sidebar_menu .logo {
  position: absolute;
  width: 100%;
  line-height: 60px;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5);
  height: 60px;
}

.sidebar_menu .logo a {
  position: absolute;
  left: 50px;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.sidebar_menu .btn_two i {
  color: grey;
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 275px;
  opacity: 0;
  cursor: pointer;
}

.sidebar_menu .menu {
  top: 80px;
  position: absolute;
  width: 100%;
}

.sidebar_menu .menu li {
  margin-top: 6px;
  padding: 14px 20px;
}

.sidebar_menu .menu i,
a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.sidebar_menu .menu a {
  padding-left: 8px;
}

.sidebar_menu .social_media {
  position: absolute;
  bottom: 30px;
  left: 25%;
}

.sidebar_menu .social_media i {
  color: #ffffff;
  opacity: 0.5;
  padding: 0 5px;
}

#check {
  display: none;
}

.sidebar_menu .menu li:hover {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.btn_one i:hover {
  font-size: 40px;
}

.btn_two i:hover {
  font-size: 30px;
}

.sidebar_menu .social_media i:hover {
  opacity: 1;
  transform: scale(1.3);
}

#check:checked ~ .sidebar_menu {
  left: 0px;
}

#check:checked ~ .btn_one i {
  opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i {
  opacity: 1;
}
